@use '~styles/appColors' as *;
.certificate-preview-modal {

    .title-div {
        display: flex;
        align-items: stretch;
        padding:  10px;
        background: $darkerseccolor;
        border: 1px solid $bordercolor;
        border-radius: 7px;
        overflow: hidden;

        > span {
            font-weight: 400;
            font-size: 15px;
            color: $white;
            -webkit-line-clamp: 1;
            word-break: break-all;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;
        }
    }

    .certificate-editor-inputs {
        display: flex;
        flex-direction: column;
        gap: 10px;

        > .certificate-editor-wrapper {
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex-grow: 1;
            > span {
                color: $textgray;
                font-weight: 500;
                font-size: 16px;
            }
        }
    }
}
