$coldred: var(--cold-red);
$background: var(--background);
$lighterbackground: var(--lighter-background);
$coldblue: var(--cold-blue);
$hotred: var(--hot-red);
$goodgreen: var(--good-green);
$secondarycolor: var(--secondary-color);
$darkerseccolor: var(--darker-secondary-color);
$bordercolor: var(--border-color);
$hotpurple:var(--hot-purple);
$silvergray: var(--silver-gray);
$white: var(--white);
$textgray: var(--text-gray);
$goodblack: var(--good-black);
$warmorange:var(--warm-orange);
$darker: var(--darker);
$light: var(--light);
$coldblack: var(--cold-black);
//todo: add text colors(text-primary,text-secondary,text-accent) with the values of white,textgray,silverGray for the default theme
//todo:& replace every color attribute with text colors instead