$coldred: #ff4b59;
$background: #23315e;
$lighterbackground: #2c3964;
$coldblue: #01b9ca;
$hotred: #f44336;
$goodgreen: #0acf83;
$secondarycolor: #344175;
$darkerseccolor: #29336a;
$bordercolor: #3c4b7e;
$hotpurple: #5144ff;
$silvergray: #646d8d;
$white: white;
