@use '~styles/appColors' as *;

$gap: 5px;
$opacityBlur:var(--opacity-blur);
@mixin idle {
  outline: $hotpurple 1px solid;
  box-shadow: 0 0px 1px $bordercolor inset,inset 0 0 3px $hotpurple;
  outline-offset: -1px;
}
@mixin bad {
  outline: $hotred 1px solid;
  outline-offset: -1px;
  box-shadow: 0 0px 1px $bordercolor inset, inset 0 0 5px $hotred;
}
@mixin good {
  outline: $goodgreen 1px solid;
  box-shadow: 0 0px 1px $bordercolor inset,inset 0 0 3px $goodgreen;
  outline-offset: -1px;
}
@mixin warm {
  outline: $warmorange 1px solid;
  box-shadow:  0 0px 1px $bordercolor inset,inset 0 0 3px $warmorange;
  outline-offset: -1px;
}
