@use '~styles/appColors' as *;

@mixin darken {
  box-shadow:inset 1000px 1000px 1px $darker;
  transition: 0.2s;
}
@mixin lighter {
  box-shadow:inset 1000px 1000px 1px $light;
  transition: 0.2s;
}
@mixin fastTrans {
  transition: 0.2s;
}
