@use '~styles/appColors' as *;
.pdf-viewer-modal {

    .pdf-viewer-modal-controls {
        display: flex;
        align-items: center;
        justify-content: center;
        flex-grow: 1;
    }

    .pdf-viewer-modal-content {
        display: flex;
        flex-direction: column;
        align-self: stretch;
        flex-grow: 1;
        overflow: hidden;
        overflow-y: auto;
        padding: 50px;
        background-color: $darkerseccolor;
        border-radius: 7px;
        padding-top: 25px;
        border: 1px solid $bordercolor;
        height: 100%;
    }
}
