@import '~styles/appColors';

.AppSidebar {
  flex-grow: 6;
  order: 2;
  width: 25%;
  display: flex;
  flex-direction: row-reverse;
  align-items: center;
  max-width: 22%;
  transition: max-width 0.2s;
  > .control {
    animation: bubble2 0.3s reverse;
    background-color: $lighterbackground;
    height: 6%;
    width: 0;
    border-radius: 100% 0 0 100%;
    display: flex;
    align-items: center;
    align-self: flex-end;
    margin-bottom: 10%;
    padding: 0;
    > svg {
      transform: rotate(-90deg);
      > path {
        stroke: $silvergray;
      }
    }
    &:hover {
      > svg > path {
        stroke: $white;
      }
    }
  }

  &:hover {
    > .control {
      animation: bubble 0.2s forwards;
    }
  }
  > .sidebar {
    padding: 5%;
    background: $lighterbackground;
    border-radius: 1.5vw;
    width: 95%;
    height: 100%;
    .content {
      transition: opacity 0.1s;
      height: 100%;
      display: flex;
      flex-direction: column;
      align-items: stretch;
      gap: 15px;

      &.entered {
        opacity: 1;
      }
      &.entering {
        opacity: 0;
      }
    }
  }

  &.minimize {
    max-width: 0;
    padding: 0;

    &:hover {
      > .control {
        padding: 10px;
        animation: none;
      }
    }

    > .sidebar {
      border-radius: 0 1.5vw 1.5vw 0;
      padding: 0;
      > .content {
        padding: 0;
        visibility: hidden;
        opacity: 0;
      }
    }
    > .control {
      transition: padding 0.2s;
      margin: 0;

      animation: none;
      padding: 5px;
      height: 100%;
      width: auto;
      > svg {
        transform: rotate(90deg);
      }
    }
  }

  @keyframes bubble {
    from {
    }
    50% {
      padding: 10px;
    }
    to {
      padding: 5px;

      width: auto;
    }
  }
  @keyframes bubble2 {
    from {
    }
    50% {
      padding: 10px;
    }
    to {
      padding: 5px;

      width: auto;
    }
  }
}
