@use '~styles/appColors' as *;
.AppMenu {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: flex-start;
  min-width: 4%;
  padding-top: 1%;
  height: 100%;
  background: $lighterbackground;
  border-radius: 10vh;
}
