@use '~styles/appColors' as *;
.tab-menu{
  display: flex;
  flex-direction: column;
  gap: 10px;
  >.tab-menu-bar{
    display: flex;
    flex-direction: row;
    padding: 10px;
    .menu-items {
      display: flex;
      flex-direction: row;
      align-items: center;
      flex-grow: 1;
      gap: 10px;
    }
  }}