@use '~styles/appColors' as *;
.add-patient-modal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 15px;
    gap: 20px;
    background: $secondarycolor;
    border-radius: 7px;

    > .inputs-container {
        flex-grow: 1;
        align-self: stretch;
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        gap: 20px;

        > .add-patient-controls {
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            flex-grow: 1;
            align-self: stretch;
        }

        > .input-width {
            width: 30%;
            min-width: 190px;
        }
    }
}
