@use '~styles/appColors' as *;

.shimmer-div {
    background: linear-gradient(90deg,$silvergray, $light ,$bordercolor   );
    background-size: 400% 400%;
    animation: shimmer 2s ease infinite;
}

@keyframes shimmer {
    0% {
        background-position: 0% 50%;
    }
    50% {
        background-position: 100% 50%;
    }
    100% {
        background-position: 0% 50%;
    }
}