@use '~styles/appColors' as *;
.clinic-item {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border: 1px solid $secondarycolor;
  box-sizing: border-box;
  border-radius: 20px;
  padding: 15px 30px;
  width: 250px;
  gap: 10px;
  position: relative;
  overflow: hidden;
  >span:first-child{
    color: $textgray;
    font-size: 15px;
    font-weight: 600;
  }
  >.backdrop{
    display: none;
    justify-content: center;
    align-items: center;
    background-color: $darker;
    position: absolute;
    width: 100%;
    height: 100%;
    z-index: 1;
  }
  > .time-container {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 0px;
    width: 100%;
    gap: 5px;

    > svg {
      height: 40%;
      width: 40%;
    }
    > span {
      font-weight: 600;
      font-size: 16px;

      + span {
        font-weight: 700;
        font-size: 25px;
      }
    }
  }

  > .stats-container {
    display: flex;
    flex-direction: row;
    justify-content: space-around;
    align-items: center;
    padding: 0px;
    width: 100%;

    > .info-container {
      display: flex;
      flex-direction: column;
      align-items: center;
      padding: 0px;
      gap: 5px;

      > span {
        color: $white;
        font-weight: 600;
        font-size: 17px;

        + span {
          font-weight: 400;
          font-size: 14px;
        }
      }
    }
  }
  &:hover{
    .backdrop{
      display: flex;
      +div ,+div+div{
        filter: blur(4px);
      }
    }
  }
}
