@import '~styles/appColors';
.queue-item {
  color: $white;
  width: 50px;
  height: 200px;
  background: $secondarycolor;
  border-radius: 10px;
  transition: 0.1s;
  width: 50px;
  overflow: hidden;
  > div {
    height: 100%;
  }
  &.wide {
    width: 140px;
    transition: 0.1s;
  }
}
