@use '~styles/appColors' as *;
.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;

  > .label-container {
    width: 100%;
    > span {
      font-weight: 500;
      font-size: 16px;
      color: $textgray;
    }
  }

  > .input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;

    border-radius: 7px;
    background-color: $darkerseccolor;

    > input {
      align-self: stretch;
      width: 100%;
      color: $silvergray;
      background-color: transparent;
      border: none;
      padding: 10px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
    }
    > input:focus {
      outline: none;
      color: $white;
    }
    > .search-btn-container {
      padding: 0px 5px;
    }
  }
}
