@use '~styles/appColors' as *;
@use '~styles/constants' as *;
.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  align-items: stretch;
  gap: 10px;

  &.error {
    > .input-container {
      @include bad;

      &:focus-within {
        @include bad;
      }
    }
    > span:last-child {
      color: $hotred;
    }
  }
  > span:first-child {
    font-weight: 500;
    font-size: 16px;
    color: $white;
  }
  > span:last-child {
    font-weight: 500;
    font-size: 14px;
    color: $textgray;
  }

  > .input-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    background-color: $darkerseccolor;
    border-radius: 7px;
    height: 40px;

    &:focus-within {
      @include idle;
      > input {
        outline: none;
        color: $white;
      }
    }

    > input {
      flex-grow: 10;
      align-self: stretch;
      color: $silvergray;
      background-color: transparent;
      border: none;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      padding-left: 10px;
      &:-webkit-autofill {
        box-shadow: 0 0 0px 1000px $darkerseccolor inset;
      }
    }
  }
}
//Global style:
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
