@use '~styles/appColors' as *;
.input-field {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  gap: 10px;
  width: 100%;

  > span :nth-child(0) {
    font-weight: 500;
    font-size: 16px;
    color: $textgray;
  }

  > .input-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    border-radius: 7px;

    > input {
      align-self: stretch;
      width: 100%;
      color: $silvergray;
      background-color: transparent;
      border: none;
      padding: 10px;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
    }
    > input:focus-visible {
      outline: $hotpurple 1px solid;
      border-radius: 5px;
      box-shadow: 0 0px 1px $bordercolor inset, 0 0 5px $hotpurple;
      color: $white;
    }
    > .search-btn-container {
      padding: 0px 5px;
    }
  }
}
//Global style:
input[type='search']::-webkit-search-decoration,
input[type='search']::-webkit-search-cancel-button,
input[type='search']::-webkit-search-results-button,
input[type='search']::-webkit-search-results-decoration {
  display: none;
}
