@use '~styles/appColors' as *;
.preview-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 15px 10px ;
    gap: 15px;
    border-radius: 17px;
    align-self: stretch;
    overflow: hidden;

    > .preview-list-header {

        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        padding-left: 6px;
        padding-right: 6px;
        > span {
            font-weight: 400;
            font-size: 18px;
            color: $white;
        }
    }
    > .preview-list-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        overflow-y: auto;
    }
}
