@use '~styles/appColors' as *;
.preview-list {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 15px 10px ;
    gap: 15px;
    border-radius: 17px;
    align-self: stretch;
    overflow: hidden;

    > .preview-list-wrapper {
        display: flex;
        flex-direction: column;
        gap: 5px;
        overflow-y: auto;
    }
}
