@use '~styles/appColors' as *;

.add-vitals-modal {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    overflow: hidden;

    .content {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 10px;
        overflow: hidden;
        max-height: 400px;

        > .field-selection {
            display: flex;
            flex-direction: column;
            gap: 10px;
            border-right: 2px solid $bordercolor;
            padding-right: 10px;
            overflow-y: scroll;
        }

        > .fields {
            display: flex;
            flex-direction: column;
            gap: 10px;
            flex-grow: 1;
            overflow-y: scroll;
        }
    }
}