@use '~styles/appColors' as *;
.latest-test-result-panel {
    display: flex;
    flex-direction: row;
    padding: 10px 20px;
    gap: 10px;
    border: 1px solid $bordercolor;
    flex-grow: 1;
    border-radius: 20px;
    flex-wrap: wrap;
}
