@use '~styles/appColors' as *;
.queue-notification-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;

    > span {
        font-weight: 600;
        font-size: 18px;
        color:$white;
    }
    > .role-span {
        display: flex;
        justify-content: center;
        align-items: center;
        padding: 5px 5px;
        background-color: $hotpurple;
        border-radius: 5px;
        > span {
            font-weight: 500;
            font-size: 12px;
            color: $white;
        }
    }

    > .last-span {
        font-weight: 400;
        font-size: 14px;
        color: $textgray;
    }

    .queue-not-aButton {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        > span {
            font-weight: 600;
            font-size: 18px;
            color: $white;
        }
    }
}
