@use '~styles/appColors' as *;
.booked-item {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  padding: 10px;
  width: 280px;
  height: 80px;
  border-radius: 11px;

  &:hover {
    background: $secondarycolor;
    > .option-menu {
      visibility: visible;
    }
  }
  > .option-menu {
    visibility: hidden;
  }
  .info-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding: 0px;
    flex: none;
    flex-grow: 0;
    margin: 0px 10px;

    .name {
      font-style: normal;
      font-weight: 600;
      font-size: 18px;
      color: $white;
      flex: none;
    }
    .info {
      color: $white;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
    }
  }
  .state-container {
    align-self: center;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    flex: none;
    flex-grow: 0;
    margin-left: auto;

    > span {
      color: $white;
      font-style: normal;
      font-weight: 400;
      font-size: 11px;
      margin-top: 2px;
    }
  }
}
