@use '~styles/appColors' as *;
.contact-tab-menu {
    display: flex;
    flex-direction: row;
    gap: 15px;
    padding-bottom: 15px;
    border-bottom: 1px solid $bordercolor;
    align-items: center;
    >span{
        font-size: 17;
        font-weight: 600; }

    > .sep {
        border-right: 1px solid $bordercolor;
        align-self: stretch;
    }
}
