@use '~styles/appColors' as *;
@use '~styles/effects' as *;

.MenuOption {
  display: flex;
  flex-direction: column;
  flex-grow: 7;
  list-style: none;
  padding: 0;
  margin: 0;
  width: 100%;
}
.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  transition: 0.3s;
  padding: 10% 0 10% 0;
  border-radius: 200%;
  transition: 0.2s;

  &:hover {
    @include darken;
    border-radius: 0;
  }

  &.isActive {
    &:active {
      @include darken;
      border-radius: 0%;
    }
    background: #00000030;
    border-radius: 200%;
    transition: 0.8s;
    > div > svg.stroke {
      stroke: white;
      path {
        stroke: white;
      }
    }
    > div > svg.fill {
      fill: white;
      path {
        fill: white;
      }
    }
    > div > svg.strokeFill {
      path {
        fill: white;
        stroke: transparent;
        stroke-width: 4px;
      }
    }
  }
  > div > svg {
    width: 80%;
    height: auto;
    display: block;
    margin: auto;
  }
}
@keyframes circleToBox {
  from {
    border-radius: 200%;
  }
  to {
    border-radius: 0%;
  }
}
