@use '~styles/appColors' as *;
@use '~styles/effects' as *;

.MenuOption {
  display: flex;
  flex-direction: column;
  align-self: stretch;
  justify-content: center;
  flex-grow: 1;
}
.menuItem {
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 35%;
  border-radius: 200%;
  transition: 0.2s;
  gap: 10px;

  &:hover {
    @include darken;
    border-radius: 0;
  }
  > svg {
    width: 100%;
    height: auto;
  }
  &.isActive {
    background: #00000030;
    border-radius: 200%;
    transition: 0.8s;
    &:active {
      @include darken;
      border-radius: 0%;
    }

    >svg {

      &.stroke {
        stroke: white;
        path {
          stroke: white;
        }
      }
      &.fill {
        fill: white;
        path {
          fill: white;
        }
      }
      &.stroke-fill {
        path {
          fill: white;
          stroke: transparent;
          stroke-width: 4px;
        }
      }
    }
  }
}
@keyframes circleToBox {
  from {
    border-radius: 200%;
  }
  to {
    border-radius: 0%;
  }
}
