@use '~styles/appColors' as *;
.contact-list {
    display: flex;
    flex-direction: column;
    align-items:stretch;
    gap: 10px;
    overflow: hidden;

    > span {
        padding-bottom: 10px;
        font-weight: 500;
        font-size: 15px;
        color: $textgray;
        border-bottom: 1px solid $bordercolor;
    }

    > .contact-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 10px;
        padding-right: 10px;
        overflow-y: scroll;
    }
}
