@use '~styles/appColors' as *;
.user-profile-status {
  display: flex;
  border-radius: 100%;

  > .dot {
    position: absolute;
    border-radius: 100%;
    width: 10px;
    height: 10px;
    &.online {
      background-color: $goodgreen;
    }
    &.offline {
      background-color: $coldred;
    }
  }
}
