@use '~styles/appColors' as *;
.user-profile-status {
  display: flex;
  border-radius: 100%;

  > .dot {
    position: relative;
    border-radius: 100%;

    &.online {
      background-color: $goodgreen;
    }
    &.offline {
      background-color: $coldred;
    }
  }
}
