@use '~styles/appColors' as *;
.appointment-queue-small {
  display: flex;
  padding: 15px;
  width: 100%;
  height: fit-content; /* BorderColor */
  flex-direction: column;
  border: 1px solid $bordercolor;
  box-sizing: border-box;
  border-radius: 15px;
  gap: 10px;
  > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    > span {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
    }
    > .control {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      gap: 10px;
    }
  }
  > .queue-items {
    width: 100%;
    > div > div {
      gap: 5px;
    }
  }
}
