@use '~styles/appColors' as *;
.recent-panel {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  padding: 15px calc(15px - 6px);
  border: 1px solid $bordercolor;
  border-radius: 17px;
  gap: 15px;
  overflow: hidden;
  padding-right: calc(15px - 6px); //for scrollbar

  > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    width: 100%;
    padding-right: 6px; //for scrollbar
    padding-left: 6px; //for scrollbar

    > span {
      font-style: normal;
      font-weight: 400;
      font-size: 18px;
    }
  }
  > .children-container {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: stretch;
    gap: 5px;
    overflow-y: scroll;
    padding-right: 5px; //gap between scrollbar and column
    &:hover {
      &::-webkit-scrollbar-thumb {
        visibility: visible;
        transition: 1s all linear;
      }
    }

    &::-webkit-scrollbar-thumb {
      visibility: hidden;
      transition: 1s all linear;
    }
  }
}
