@use '~styles/appColors' as *;
.setting-option {
    display: flex;
    flex-direction: column;
    align-items: flex-start;

    > .description-span {
        font-weight: 600;
        font-size: 13px;
        color: $silvergray;
    }
}
