@use '~styles/appColors' as *;
.short-stats-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px;
  gap: 15px;

  > .header {
    width: 100%;
    min-width: 850px;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 0px;

    > span {
      font-weight: 600;
      font-size: 20px;
      letter-spacing: 0.3px;
    }
  }
  > .stats-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
  }
}
