@use '~styles/appColors' as *;
.timer {
  height: 250px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  > canvas {
    height: 300px;
    width: 300px;
    position: absolute;
    pointer-events: none;
  }

  > .time-to-close {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    height: 100%;
    width: 100%;
    > svg {
      height: 30%;
      width: 40%;
    }

    > span {
      font-weight: 600;
      font-size: 16px;
      + span {
        font-weight: 700;
        font-size: 25px;
      }
    }
  }
}
