@use '~styles/appColors' as *;

.record {
    display: flex;
    align-items: stretch;
    flex-direction: column;
    flex-grow: 1;
    gap: 1vw;
    height: 100%;

    > .content {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 10px;
        align-self: stretch;
        overflow: hidden;
        flex-grow: 1;


        > .record-content{
            display: flex;
            flex-direction: column;
            align-items: stretch;
            gap: 20px;
            overflow: hidden;
            flex-grow: 1;

            > .top-right-div {
                display: flex;
                flex-direction: row;
                align-items: stretch;
            }
        }
    }
}
