@use '~styles/appColors' as *;
@use '~styles/effects' as *;
.multi-option-switcher {
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 5px;
  box-sizing: border-box;
  border-radius: 10px;
  width: fit-content;
  gap: 10px;

  > .separator {
    border-left: 2px solid $bordercolor;
    height: 1em;
  }
  > .text {
    @include fastTrans;
    font-style: normal;
    font-weight: 700;
    font-size: 14px;
    line-height: 24px;
    border-radius: 8px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 0 10px;
    cursor: pointer;

    &:hover {
      @include darken;
    }
    &.selected {
      background: $bordercolor;
      &.grow {
        padding-left: 15px;
        padding-right: 15px;
      }
    }
  }
}
