@use '~styles/appColors' as *;
.queue-add-search-modal {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: stretch;
  padding: 10px 20px 20px;
  background: $secondarycolor;
  border-radius: 7px;
  gap: 10px;

  > .back-btn-container {
    align-self: flex-end;
  }
  > .suggestions-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    width: 100%;
    gap: 5px;
  }
}
