@use '~styles/appColors' as *;
.user-profile-status {
  display: flex;
  border-radius: 100%;
  position: relative;
  > .dot {
    position: absolute;
    border-radius: 100%;
    left:0;
    &.online {
      background-color: $goodgreen;
    }
    &.offline {
      outline-color: $textgray;
      outline-style: solid;
      outline-width: 4px;
      outline-offset: -4px;
      background-color: $silvergray;
    }
  }
}
