@use '~styles/appColors' as *;
@use '~styles/effects' as *;
.last-dm-message {
  display: flex;
  flex-direction: row;
  justify-content: flex-start;
  gap: 15px;
  align-items: center;
  padding: 10px 5px;
  flex-grow: 1;
  cursor: pointer;

  > .info-container {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 5px;
    overflow: hidden;

    > span {
      font-weight: 600;
      font-size: 16px;
      color: $textgray;

      + span {

        font-weight: 400;
        font-size: 12px;
        color: $textgray;
        -webkit-line-clamp: 1; /* number of lines to show */
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
        width: 95%;
      }
    }
  }
  &:hover {
    background-color: $secondarycolor;
    >.info-container> span {
      color: $white;
    }
  }
  &.selected{
    background-color: $secondarycolor;
    >.info-container> span {
      color: $white;
    }}
  &:active{
    @include lighter;
  }
}
