@use '~styles/appColors' as *;
.small-info-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border: 1px solid $bordercolor;
    border-radius: 7px;
    min-width: 120px;
    flex-grow: 1;
    align-self: stretch;
    max-width: 150px;

    > .small-info-row {
        display: flex;
        flex-direction: row;
        gap: 10px;

        > span {
            font-weight: 600;
            font-size: 15px;
            color: $textgray;
        }
    }
}
