@use '~styles/appColors' as *;
.role-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
  padding: 10px 20px;
  border: 1px solid $bordercolor;
  border-radius: 7px;
  background: $darkerseccolor;
  height: fit-content;
  width: fit-content;
  > .linked {
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    padding: 5px 5px;
    background-color: $secondarycolor;
    border-radius: 5px;
    > span {
      font-weight: 500;
      font-size: 12px;
      color: $textgray;
    }
  }
  > span {
    font-weight: 700;
    font-size: 16px;
  }
}
