@use '~styles/appColors' as *;
.edit-vitals-fields-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;
    gap: 10px;
    border: 1px solid $silvergray;
    border-radius: 7px;
}
