@use '~styles/appColors' as *;
@use '~styles/effects' as *;

.member-item {
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 10px;
  border-bottom: 1px solid $bordercolor;
  justify-content: space-between;

  &:hover {
    @include darken;
  }

  > .item-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 20px;

    > .member-Info {
      display: flex;
      flex-direction: row;
      justify-content: center;
      align-items: center;
      gap: 15px;

      > .id-container {
        display: flex;
        flex-direction: column;
        align-items: flex-start;
        gap: 2px;

        > span {
          color: $white;
          font-weight: 500;
          font-size: 15px;
          white-space: nowrap;
          overflow: hidden;
          text-overflow: ellipsis;
          word-break: break-all;
          width: 150px;

          + span {
            color: $textgray;
            font-weight: 400;
            font-size: 15px;
          }
        }
      }
    }

    > .date-container {
      display: flex;
      justify-content: center;
      align-items: center;
      min-width: 80px;

      > span {
        font-weight: 600;
        font-size: 14px;
        color: $textgray;
      }
    }
  }
  > .option-menu {
    padding: 10px;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    cursor: pointer;
  }
}
