@use '~styles/appColors' as *;
.presentation-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    background: $darkerseccolor;
    border-radius: 11px;
    padding: 10px 20px;
    align-items: center;
    width: 100%;
    height: fit-content;

    > .info-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        gap: 5px;
        overflow: hidden;
        flex: 1;
        padding-right:  5px;

        > span {
            color: $white;
            font-weight: 600;
            font-size: 18px;
            text-overflow: ellipsis;
            overflow: hidden;
            white-space: nowrap;

            + span {
                font-weight: 500;
                font-size: 15px;
                color: $textgray;
            }
        }
    }
    > .controls-container {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;
        flex: 0 1 auto;
    }
}
