@use '~styles/appColors' as *;
.assistant-item {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    border: 1px solid $bordercolor;
    border-radius: 7px;
    background: $lighterbackground;
    z-index: 1;
    padding:  5px 10px;

    > .member-Info {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        gap: 15px;

        > .id-container {
            display: flex;
            flex-direction: column;
            align-items: flex-start;
            gap: 2px;

            > span {
                color: $white;
                font-weight: 500;
                font-size: 15px;
                white-space: nowrap;
                overflow: hidden;
                text-overflow: ellipsis;
                word-break: break-all;
                max-width: 150px;

                + span {
                    color: $textgray;
                    font-weight: 400;
                    font-size: 15px;
                }
            }
        }
    }
}
