@use '~styles/appColors' as *;
.booked-item {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: stretch;
  padding: 10px;
  height: fit-content;
  border-radius: 10px;

  &:hover {
    background: $secondarycolor;
  }
  > .left-container {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;
    >div:first-of-type{
      flex:1 0 0;
      width: 0;
    }
    > .state-container {
      align-self: center;
      display: flex;
      flex-direction: column;
      justify-content: center;
      align-items: center;
      padding: 3px;

      > span {
        color: $white;
        font-style: normal;
        font-weight: 400;
        font-size: 11px;
      }
    }
  }
}
