@use '~styles/appColors' as *;
.messages-side-bar {
    display: flex;
    flex-direction: row;
    background: $lighterbackground;
    border-radius: 1.5vw;
    width :300px;

    >.messages-side-bar-content{
        display: flex;
        flex-direction: column;
        align-items: stretch;
        padding:5% ;
        gap: 25px;
        border-radius: 17px;
        overflow: hidden;
        flex-grow: 1;
    }}