@use '~styles/appColors' as *;
.warning-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px 20px 20px;
    gap: 10px;
    max-width: 450px;
    background: $secondarycolor;
    border-radius: 7px;

    > span {
        font-weight: 600;
        font-size: 15px;
        color: $textgray;
    }
    > .warning-controls {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        gap: 10px;
        flex-grow: 1;
        align-self: stretch;
        padding-top: 10px;
    }
}
