@use '~styles/appColors' as *;
.mini-stats {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 15px 10px;
  border: 1px solid $bordercolor;
  border-radius: 15px;
  max-width: 130px;
  min-width: 130px;
  gap:10px;

  &.warn {
    background-color: $hotred;
  }
  > span {
    display: inline-block;
    overflow: hidden;
    text-overflow: ellipsis;
    white-space: nowrap;
    font-weight: 600;
    font-size: 9px;
    text-align: right;
    color: $goodgreen;
    max-width: 120px;

    ~ span {
      font-size: 16px;
      text-align: center;
      color: $white;

      + span {
        font-size: 20px;
      }
    }
  }
  > svg > path {
    stroke: $white;
  }
}
