@use '~styles/appColors' as *;
@use '~styles/constants' as *;
@use '~styles/effects' as *;
.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 5px;
  >.untouched-item{
    position: absolute;
    background: $bordercolor;
    display: flex;
    width: -webkit-fill-available;
    height: -webkit-fill-available;
    justify-content: center;
    align-items: center;
    ~ div{
      pointer-events: none;
      filter: blur(10px);
    }
  }
  >.input-content{
    opacity: $opacityBlur;
    flex-grow: 1;
    display: flex;
    align-self: stretch;
    align-items: center;
    justify-content: center;

    input{
      align-self: stretch;
      color: $white;
      background-color: transparent;
      border: none;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      &::placeholder{ color: $textgray; }
      width: 100%;
    }
    input[type=file] {
      align-self: center;
    }

    >*:first-child>.date-content div{
      flex-grow: 1;
      align-self: stretch;
      display: flex;
      >input{
        flex-grow: 1;
      }}

    >input.auto-size-input {
      flex-grow: 0;
    }
  }

  &:focus-within ,&:active,&:focus{
    @include idle;
    >.input-content{
      opacity: 1;
      /* stylelint-disable-next-line no-descending-specificity */
      input {
        outline: none;
      }}
  }
  &.error{

    @include bad;

    &:focus-within ,&:focus{
      @include bad;
    }
  }
  &.disabled{
    opacity: 0.5;
    filter: blur(1px);
    cursor: no-drop;
    pointer-events: none;
  }
}
