@use '~styles/appColors' as *;
@use '~styles/constants' as *;
@use '~styles/effects' as *;
.input-wrapper {
  display: flex;
  flex-direction: row;
  align-items: center;
  height: 40px;

  >.input-content{
    opacity: $opacityBlur;
    flex-grow: 1;
    display: flex;
    align-self: stretch;
    align-items: center;
    >*:first-child{
      flex-grow: 1;
    }
    >input {
      align-self: stretch;
      color: $white;
      background-color: transparent;
      border: none;
      font-style: normal;
      font-weight: 400;
      font-size: 14px;
      padding-left: 10px;
      &:-webkit-autofill { box-shadow: 0 0 0px 1000px $darkerseccolor inset; }
    }
    >input.auto-size-input {
      flex-grow: 0;
    }
  }

  &:focus-within ,&:active,&:focus{
    @include idle;
    >.input-content{
      opacity: 1;
      > input {
        outline: none;
      }}
  }
  &.error{

    @include bad;

    &:focus-within ,&:focus{
      @include bad;
    }
  }
}
