@use '~styles/appColors' as *;
.loading-container {
    display:flex;
    justify-content:center;
    align-items:center;
    flex-grow: 1;

    > .loading-spinner {

        animation: spinnerAnimation 1s ease-in-out infinite;
    }
}
@keyframes spinnerAnimation {
    to {
        -webkit-transform: rotate(360deg);
    }
}