@use '~styles/appColors' as *;
.patient-card {
    display: flex;
    flex-direction: row;
    padding: 10px ;
    gap: 10px;
    border: 1px solid $bordercolor;
    border-radius: 20px;

    > .key-value-items {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        flex-grow: 1;
    }
}
