@use '~styles/appColors' as *;
@use '~styles/constants' as *;

.queue-item-wide {
  color: $white;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: $gap;
  max-height: 200px;
  background: $secondarycolor;
  border-radius: 10px;

  .back-container {
    width: 100%;
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    padding: 5px 5px 0px 0px;
  }

  .content {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    padding-left: 20%;
    width: 100%;
    gap: 10px;
    >.buttons-hover-lock {
      display: flex;
      flex-direction: row;
      align-items: center;
      gap: 5px;
    }

    > .pat-info {
      display: flex;
      flex-direction: column;
      align-items: flex-start;
      padding: 0px;
      > span {
        font-style: normal;
        font-weight: 400;
        font-size: 17px;
        + span {
          color: $textgray;
          font-size: 10px;
        }
        /* identical to box height, or 141% */

        display: flex;
        align-items: center;
        letter-spacing: 0.15px;
      }
    }
  }
  .preview {
    overflow: hidden;
    width: 100%;
    background: $coldblue;
    border-radius: 10px;
    display: flex;
    flex-direction: row;
    align-items: center;
    &.urgent {
      background: $hotred;
    }
    > div {
      position: relative;
      left: -10%;
      + div {
        display: flex;
        flex-direction: column;
        align-items: center;
      }
    }
  }
}
