@use '~styles/appColors' as *;
.title-button {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 5px;
  background: $coldblue;
  border-radius: 7px;
  width: 140px;
  height: 40px;

  > span {
    color: $white;
    font-style: normal;
    font-weight: 600;
    font-size: 15px;
    line-height: 24px;
  }
}
