@use '~styles/appColors' as *;
.title-button {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  padding: 7px 12px;

  > .title {
    font-style: normal;
    font-weight: 600;
  }
}
