@use '~styles/appColors' as *;
.title-button {
  display: flex;
  justify-content: center;
  align-items: center;
  background: $darkerseccolor;
  border: 1px solid $bordercolor;
  border-radius: 7px;
  padding: 5px;
  overflow: hidden;

  > span {
    font-style: normal;
    font-weight: 600;
    line-height: 0;
  }
}
