@use '~styles/appColors' as *;
.small-roll {
  display: flex;
  justify-content: center;
  align-items: baseline;
  background: $darkerseccolor;
  border: 1px solid $bordercolor;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  gap: 10px;
  cursor: pointer;

  > span {
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    font-size: 11px;
    color: $textgray;
  }
  > svg {
    visibility: hidden;
  }

  &:hover {

    > svg {
      visibility: visible;
    }
  }
}
