@use '~styles/appColors' as *;
.small-role {
  display: flex;
  justify-content: center;
  align-items: baseline;
  border: 1px solid $bordercolor;
  border-radius: 5px;
  width: fit-content;
  height: fit-content;
  padding: 5px;
  cursor: pointer;
  gap:2px;

  > span {
    font-style: normal;
    font-weight: 500;
    line-height: 11px;
    font-size: 11px;
    color: $textgray;
  }
  > svg {
    visibility: hidden;
  }

  &:hover {
    background: $hotred;

    >span{
      color: $white;
    }
    > svg {
      visibility: visible;
    }
  }
}
