@use '~styles/appColors' as *;
.clinic-settings {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
    overflow: hidden;
    >div{
        display: flex;
        flex-direction: row;
        gap: 10px;
        span:first-child{
            flex-grow: 1;
            font-size: 24;
            font-weight: 600;}
    }
}
