@use '~styles/appColors' as *;
.clinic-settings {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 40px;
    overflow: hidden;
    >span{
        font-size: 24;
        font-weight: 600;
    }
}
