@use '~styles/appColors' as *;
.backdrop-container{
    position: relative;
    border-radius: 5px;

    >.backdrop {
        position: absolute;
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        background-color: $darker;
        width: 100%;
        height: 100%;
        z-index: 1;
    }
}
