@use '~styles/appColors' as *;
.members-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  gap: 20px;
  flex-grow: 1;

  > .members-list-container {
    will-change: transform;
    overflow-y: scroll;
    padding-right: 10px;
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    align-items: stretch;
    gap: 5px;
    >div{
      display: flex;
      flex-direction: column;
      gap: 5px;
    }
  }
}
