@use '~styles/appColors' as *;
.members-panel {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: stretch;
  padding: 0px;
  gap: 20px;
  flex-grow: 1;
  > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;

    > span {
      color: $white;
      font-weight: 600;
      font-size: 23px;
    }
  }
  > .members-list-container {
    overflow-y: scroll;

    > .members-list {
      padding-right: 10px;
      display: flex;
      flex-direction: column;
      justify-content: flex-start;
      align-items: stretch;
      gap: 5px;
    }
  }
}
