@use '~styles/appColors' as *;
.alert-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: flex-start;
    padding: 20px 20px 10px;
    gap: 10px;
    background: $secondarycolor;
    border-radius: 7px;

    > .alert-modal-texts {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        padding: 0px;
        gap: 10px;
        align-self: stretch;
        flex-grow: 1;
    }
    > .controls-div {
        display: flex;
        flex-direction: row;
        justify-content: flex-end;
        align-items: center;
        padding: 0px;
        gap: 5px;
        align-self: stretch;
        flex-grow: 1;
    }
}
