@use '~styles/appColors' as *;
@use '~styles/constants' as *;
.input-container {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
    padding: 0 1px;
    >.field{
        display: flex;
        gap: 10px;
    }
    > span,>label{
        text-overflow: ellipsis;
        white-space: nowrap;
        overflow: hidden;
    }

    > label:first-of-type {
        font-weight: 500;
        font-size: 16px;
        color: $white;
    }
    > span:last-of-type {
        font-weight: 500;
        font-size: 14px;
        color: $textgray;
    }

    &.error {

        > span:last-of-type {
            color: $hotred;
        }
    }
}
