@use '~styles/appColors' as *;
.badge {
    border-radius: 0.5em;
    font-size: 0.7em;
    font-weight: 400;
    padding: 0.2em 0.5em;
    width: fit-content;
}
.badged-item{
    position: relative;
    > .badge {
        position: absolute;
        top: -0.5em;
        right: -7%;
        pointer-events: none;
    }
}