@use '~styles/appColors' as *;
.statistics {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 30px;
    flex-grow: 1;
    align-self: stretch;
    overflow: auto;

    >  span:first-of-type{
        font-size: 1em;
        font-weight: 600;
    }
}
