@use '~styles/appColors' as *;
.member-card {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px;
    gap: 5px;
    width: fit-content;
    background: $goodblack;
    border-radius: 10px;
    > span {
        color: $white;
        font-style: normal;
        font-weight: 600;
        font-size: 15px;
    }
}
