@use '~styles/appColors' as *;
@use '~styles/constants' as *;

.certificate-editor{
    background-color: $darkerseccolor;
    border: 1px solid $bordercolor;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    position: relative;
    align-items: stretch;
    align-self: stretch;

    &:focus-within{
        @include idle;
        border: 1px solid $hotpurple;
    }
    &.error{
        @include bad;
    }

    >.editable-container{
        height: 100%;
        display: flex;
        justify-content: center;
        >div{
            overflow-y: auto;
            overflow-x: hidden;

            padding: 10px ;
            max-height: 200px;
            height: 200px;
            display: flex;
            align-items: stretch;
            flex-direction: column;
            flex-grow: 1;
        }
    }
    >.error-message{
        position: absolute;
        display: flex;
        align-self: flex-start  ;
        border-radius: 5px;
        bottom: 5px;
        left: 5px;
        padding: 5px;
        background-color: $coldred;
        color: $white;
        font-size: 14px;
    }
}