@use '~styles/appColors' as *;
.short-stats-panel {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 10px 0px;
  gap: 15px;

  > .stats-container {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 0px;
    gap: 30px;
  }
}
   .add-container {
        display: flex;
        flex-direction: row;
        gap: 20px;
    }