@use '~styles/appColors' as *;
.alert-toast {
    display: flex;
flex-direction: row;
align-items: center;
gap: 10px;
background-color: $secondarycolor;
padding-right:  10px;
border-radius: 9px;
width: fit-content;
align-self: center;

> span {
font-size: 14px;
color: $white;
}
}
