@use '~styles/appColors' as *;
.appointments-queue {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;

    >.appointments-queue-header{
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: baseline;
        align-self: stretch;
        flex-grow: 1;

        > span {
            font-weight: 600;
            font-size: 18px;
            color: $white;
        }
    }

    >.appointments-queue-content{
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        gap: 10px;

        >.wrapper{
            overflow: hidden;

            .vertical-panel-control {
                display: flex;
                flex-direction: column;
                gap: 10px;
                align-items: center;
                > span {
                    color:$textgray;
                    font-weight: 400;
                    font-size: 12px;
                }
            }

            .queue-list{
                display: flex;
                flex-direction: row;
                align-items: center;
                gap: 10px;
            }}
        >.text-empty{
            align-self: center;
            color: var(--text-gray);
            font-size: 14px;
        }
    }
}
