@use '~styles/appColors' as *;
.upload-file-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px 20px;
    gap: 10px;
    max-width: 340px;
    background: $secondarycolor;
    border-radius: 7px;
}
