@use '~styles/appColors' as *;
.payment-queue {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;

    > .payment-queue-content {
        display: flex;
        flex-direction: row;
        align-items: center;
        gap: 10px;

        >.payment-queue-sep {
            border-right: 1px solid $bordercolor;
            align-self: stretch;
            flex-grow: 1;
        }

        >.payment-queue-list{
            display: flex;
            flex-direction: row;
            align-items: center;
            gap: 10px;
            overflow: hidden;
        }
    }
}
