@use '~styles/appColors' as *;
@use '~styles/constants' as *;
@use '~styles/effects' as effects;

.text-icon-button {
  color: $white;
  display: flex;
  flex-direction: row;
  align-items: center;
  padding: 5px;
  height: 10px;
  background: $goodgreen;
  border-radius: 5px;
  width: fit-content;
  justify-content: space-between;
  gap: $gap;

  &:hover > .text,
  &.active > .text {
    animation: fadeIn 0.2s;
    display: flex;
  }
  > .text {
    display: none;
    font-style: normal;
    font-weight: 700;
    font-size: 9px;
    line-height: 9px;
    /* identical to box height, or 100% */

    //  display: none;
    align-items: center;
    letter-spacing: 0.15px;
  }
}
@keyframes fadeIn {
  from {
    opacity: 0;
  }

  to {
    opacity: 1;
  }
}
