@use '~styles/appColors' as *;
.scroll-view {
  display: flex;
  height: max-content;
  overflow-y: hidden;
  position: relative;
  width: 100%;
  align-items: stretch;
  overflow-x: scroll;
  overscroll-behavior: contain;
  padding-bottom: 10px;
}
