@use '~styles/appColors' as *;
.key-value-item {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 2px;

    > span {
        font-weight: 600;
        font-size: 12px;
        color: $silvergray;

        +span {
            font-weight: 700;
            font-size: 15px;
            color: $textgray;
        }
    }
}
