@use '~styles/appColors' as *;
.mini-stats {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 10px;
  border: 1px solid $bordercolor;
  border-radius: 15px;
  width: 130px;
  height: 170px;
  gap: 5vh;
  color: $white;
  &.warn {
    background-color: $hotred;
  }
  > span {
    font-style: normal;
    font-weight: 600;
    font-size: 9px;
    width: 100%;
    text-align: right;
    color: $goodgreen;
    ~ span {
      font-size: 20px;
      text-align: center;
      color: $white;

      + span {
        font-size: 24px;
      }
    }
  }
  > svg > path {
    stroke: $white;
  }
}
