@use '~styles/appColors' as *;
.text-editor {
    background-color: $darkerseccolor;
    border: 1px solid $bordercolor;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
    overflow: hidden;
    >.editable-container{
        padding: 30px ;
        height: 100%;
        display: flex;
        justify-content: center;
        overflow: auto;
        >div{
            background-color: $white;
            box-shadow: 0px 0px 10px 0px $darker;
        }
    }
}
