@use '~styles/appColors' as *;
@use '~styles/effects' as *;
.snake-bar {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: baseline;
    gap:10px;
    padding: 20px 30px;
    border: 1px solid $bordercolor;
    border-radius: 7px;
    > span {
        font-weight: 600;
        font-size: 16px;
        color: $white;
    }
    &.error{
        @include shaking($hotred);
    }
}
