@use '~styles/appColors' as *;
.pdf-page-switcher {
    display: flex;
    flex-direction: row;
    gap: 10px;

    > .page-number-div {
        display: flex;
        flex-direction: row;
        justify-content: center;
        align-items: center;
        padding: 4px 15px;
        border: 1px solid  $bordercolor;
        border-radius: 7px;

        > span {
            font-weight: 600;
            font-size: 14px;
            color: $white;
        }
    }
}
