@use '~styles/appColors' as *;
.session-preview-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px 15px;
    background: $darkerseccolor;
    border-radius: 10px;
    gap: 15px;
    width: fit-content;
}
