@use '~styles/appColors' as *;
.create-invitation-modal {
}
.invitation-div {
    display: flex;
flex-direction: column;
justify-content: center;
align-items: center;
gap: 5px;

>.role-list-div {
 display: flex;
  background: $darkerseccolor;
  padding: 10px;
flex-grow: 1;
  justify-content: flex-start;
 align-items: stretch;
border-radius: 17px;
align-self: stretch;
}
}

.result-div {
        display: flex;
flex-direction: column;
justify-content: center;
align-items: stretch;
gap: 5px;
flex-grow: 1;
}