/* stylelint-disable no-descending-specificity */
@use '~styles/appColors' as *;
.appointments-current-patient {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 15px;
    border: 1px solid $bordercolor;
    border-radius: 17px;
    box-sizing: border-box;
    flex-grow: 1;
    min-width: 200px;
    >div:first-of-type{
        flex: 1 0 0;
        width: 0;
    }
}
