@use '~styles/appColors' as *;
.timer {
  width: 260px;
  height: 250px;
  display: flex;
  position: relative;
  justify-content: center;
  align-items: center;
  > canvas {
    position: absolute;
    left: 0;
  }
  > div {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    align-items: center;
    height: 100%;
    width: 100%;
    > svg {
      height: 40%;
      width: 40%;
    }

    > span {
      font-weight: 600;
      font-size: 16px;
      + span {
        font-weight: 700;
        font-size: 25px;
      }
    }
  }
}
