@use '~styles/appColors' as *;
.update-controls-div {
    display: flex;
    flex-direction: column;
    gap: 10px;

    > span {
        font-weight: 400;
        font-size: 12px;
        color: $textgray;
    }
    .update-input-div {
        display: flex;
        flex-direction: column;
        gap: 10px;

        > .error-span {
            color: $hotred;
            font-size: 13px;
            font-weight: 600;
        }
    }
}
