@use '~styles/appColors' as *;
.add-search-to-booked {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    gap: 10px;
    align-self: stretch;
    flex-grow: 1;
}
