@use '~styles/appColors' as *;
@use '~styles/constants' as *;
.select-input {
  display: flex;
  flex-direction: column;
  align-content: stretch;
  align-items: stretch;
  gap: 5px;
  cursor: pointer;
  height: 40px;

  > .select {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    padding: 10px 0 10px 0;
    gap: 10px;
    > .arrow {
      stroke: $white;
    }
    > span {
      flex-grow: 1;

      font-weight: 500;
      font-size: 15px;
      color: $silvergray;
    }
  }
  > .options {
    z-index: 10;
    display: none;
    background-color: $secondarycolor;
    flex-direction: column;
    align-items: stretch;
    padding:10px;
    border-radius: 15px;

    > span {
      display: flex;
      flex-direction: row;
      align-items: flex-start;
      padding:15px ;
      border-radius: 10px;
      font-weight: 500;
      font-size: 15px;
      color: $white;
      cursor: pointer;
      &:hover {
        background-color: $lighterbackground;
      }
    }
  }
  &.select {
    > .select > span {
      color: $white;
    }
  }

  &.open {
    inset-inline-start: $coldred;
    > .options {
      display: flex;
    }
    > .select >div
    > .arrow {
      transform: rotate(180deg);
    }
  }
}
