@use '~styles/appColors' as *;

@mixin clinic-info-div {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;

    > span {
        font-weight: 600;
        font-size: 15px;
        color: $textgray;

        + span {
            font-weight: 700;
            font-size: 18px;
            color: $white;
        }
    }
}

.clinic-overview-card {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 10px;
    flex-grow: 0.2;
    > span {
        font-weight: 600;
        font-size: 18px;
        color: $white;
    }

    > div:not(:last-of-type) {
        @include clinic-info-div()
    }
    > div:last-of-type {
        display: flex;
        flex-direction: row;
        justify-content: space-between;
        align-items: center;
        gap: 5px;
        align-self: stretch;
        > div {
            @include clinic-info-div()
        }
    }
}
