@use '~styles/appColors' as *;
.text-button {
  display: flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  padding: 0.5em 0.8em;
  transition: all .2s;
  gap:10px;
  cursor: pointer;
  > .text {
    font-style: normal;
    text-align: center;
  }
}
