@use '~styles/appColors' as *;
@use '~styles/constants' as *;
.text-button {
  display: inline-flex;
  justify-content: center;
  align-items: center;
  overflow: hidden;
  height: fit-content;
  padding: 0.5em 0.8em;
  transition: all .1s;
  gap:10px;
  cursor: pointer;
  &.hold{
    animation: glowInside 1s forwards;
  }
  outline-offset: -1px;
  > .text {
    font-style: normal;
    text-align: center;
  }

  @keyframes glowInside {
    from{
      box-shadow:inset 0 0 0px $goodgreen;
    }
    50%{
      box-shadow:inset 0 0 5px $goodgreen;
    }
    to{
      box-shadow:inset 0 0 0px $goodgreen;
    }
  }
}
