@use '~styles/appColors' as *;
.book-appointment-info {
    display: flex;
    flex-direction: row;
    align-items: stretch;
    flex-grow: 1;
    border-right: 1px solid $bordercolor;
    border: 1px solid $bordercolor;
    border-radius: 17px;
    box-sizing: border-box;
    padding: 10px;
    gap: 10px;
}
