@use '~styles/appColors' as *;
.book-appointment-modal {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: stretch;
    padding: 10px 20px;
    gap: 10px;
    background:$secondarycolor;
    border-radius: 7px;
    max-width: 375px;

    > .book-appointment-info {
        display: flex;
        flex-direction: row;
        align-items: stretch;
        justify-content: space-between;
        flex-grow: 1;
        border-right: 1px solid $bordercolor;
        border: 1px solid $bordercolor;
        border-radius: 17px;
        box-sizing: border-box;
        padding: 10px;
    }
}
