@use '~styles/appColors' as *;
.keyword-field-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;

    border: 1px solid $silvergray;
    border-radius: 7px;
    height: fit-content;
    overflow: hidden;

    > span {
        font-weight: 400;
        font-size: 15px;
        color: $textgray;
        -webkit-line-clamp: 1;
        word-break: break-all;
        overflow: hidden;
        text-overflow: ellipsis;
        white-space: nowrap;
    }

    > .keywords-info-div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    > .keyword-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
}
