@use '~styles/appColors' as *;
.keyword-field-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 5px 10px;

    border: 1px solid $silvergray;
    border-radius: 7px;
    height: fit-content;

    > span {
        font-weight: 400;
        font-size: 15px;
        color: $textgray;
        //TODO add text overflow
    }

    > .keywords-info-div {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 10px;
    }

    > .keyword-controls {
        display: flex;
        justify-content: center;
        align-items: center;
        gap: 2px;
    }
}
