@use '~styles/appColors' as *;

.preview-list-container {
    display: flex;
    flex-direction: column;
    gap: 15px;

    > .preview-list-row {
        display: flex;
        flex-direction: row;
        gap: 10px;

        > span {
            font-weight: 600;
            font-size: 14px;
            color: $textgray;

            + span {
                font-weight: 400;
                color: $white;
            }
        }
    }
}
