@use '~styles/appColors' as *;
@use '~styles/effects' as *;
.messages-category-item {
    display: flex;
    flex-direction: row;
    align-items: center;
    padding: 10px;
    gap: 10px;
    border-radius: 5px;
    align-self: stretch;
    flex-grow: 1;
    transition: background-color 0.2s;
    > span {
        font-weight: 600;
        font-size: 18px;
        color:$textgray;
    }
    >svg>path{
        fill:$textgray;
    }
    &.selected{
        background-color: $secondarycolor;
        >svg>path{
            fill:$white;
        }
        > span {
            color:$white;
        }
    }
    &:hover {
        background-color: $secondarycolor;
    }
    &:active{
        @include lighter;
    }
}
