@use '~styles/appColors' as *;
.toggle-button {
  border-radius: 200px;
  cursor: pointer;
  display: flex;
  align-items: center;
  padding: 2px;
  > .circle {
    transition: 0.1s;
    display: flex;
    justify-content: center;
    align-items: center;

    border-radius: 100%;
    background-color: $white;
  }

  &.on {
    transition: 0.3s;
    justify-content: flex-end;
    background-color: $goodgreen;
    > .circle {
      animation: widePutin 0.2s;
    }
    svg > path {
      fill: $goodgreen;
    }
  }
  &.off {
    svg > path {
      fill: $silvergray;
    }

    background-color: $silvergray;
    > .circle {
      animation: widePutin2 0.2s;
    }
  }
  &.disabled {
    cursor: not-allowed;
    > .circle {
      background-color: $textgray;
    }
    &.on {
      svg > path {
        fill: $white;
      }
    }
    &.off {
      svg > path {
        fill: $silvergray;
      }
    }
  }
}

@keyframes widePutin {
  from {
    width: 100%;
    border-radius: 200px;
  }
}
@keyframes widePutin2 {
  from {
    width: 100%;
    border-radius: 200px;
  }
}
