@use '~styles/appColors' as *;
.role-description {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  padding: 0px;
  width: 300px;
  gap: 5px;
  padding: 5px;
  max-height: 220px;

  > span {
    font-weight: 600;
    font-size: 16px;
    color: $white;
  }

  > .description-container {
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 9;
    -webkit-box-orient: vertical;

    > span {
      font-weight: 600;
      font-size: 13px;
      color: $textgray;
      word-break: break-word;
      text-overflow: ellipsis;
    }
  }
}
