@use '~styles/appColors' as *;
.circle-avatar {
  display: flex;
  overflow: hidden;
  width: fit-content;
  height: fit-content;
  &.clickable{
    cursor: pointer;
    &:active{
      transform: translate(0,2px);
    }
  }
}
