@use '~styles/appColors' as *;
.records {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    padding: 100px 15px;
    gap: 20px;
    align-self: stretch;
    flex-grow: 1;

    > .records-suggestions-container {
        display: flex;
        flex-direction: column;
        align-items: stretch;
        flex-grow: 1;
        align-self: stretch;
        gap: 5px;
    }
}
