@use '~styles/appColors' as *;

.cabin-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;
    min-width: 200px;

    > span:first-of-type {
        font-weight: 600;
        font-size: 14px;
        color: $textgray;
        align-self: flex-start
    }
}
