@use '~styles/appColors' as *;
@mixin commonStyle {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    padding: 10px 30px;
    border-radius: 7px;

    > span {
        font-weight: 600;
        font-size: 16px;
        white-space: nowrap;
    }
}

.cabin-state {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 10px;
    width: fit-content;

    > span:first-of-type {
        font-weight: 600;
        font-size: 14px;
        color: $textgray;
        align-self: flex-start
    }

    > .In-progress-div {
        @include commonStyle();
        border: 1px solid $bordercolor;
        align-self: stretch;
    }
    > .paused-div {
        @include commonStyle();
        border: 1px solid $hotred;

        > span {
            color: $hotred;
        }
    }
}
