@use '~styles/effects' as *;
.back-button {
  /* Auto layout */
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  padding: 8px;
  height: 25px;
  width: 25px;
  border-radius: 5px;
  &:hover {
    @include darken;
  }
}
