@use '~styles/appColors' as *;
.note-item {
    display: flex;
    flex-direction: column;
    gap:10px;
    align-items: stretch;
    border-radius: 7px;
    padding: 10px;

    > .note-value-div {
        overflow: hidden;
        text-overflow: ellipsis;
        padding: 10px 5px;

        > span {
            font-weight: 400;
            font-size: 15px;
            color: $textgray;
        }
    }
}
