@use '~styles/appColors' as *;
.queues {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 20px;
    flex-grow: 1;
    align-self: stretch;
    overflow-y: scroll;

    > span {
        font-weight: 600;
        font-size: 22px;
        color: $white;
    }
    >.queues-header{
        display: flex;
        flex-direction: column;
        gap:10px;
    }
    > .queues-footer {
        display: flex;
        flex-direction: row;
        align-items: flex-start;
        justify-content: space-between;
        align-self: stretch;
        border-top: 1px solid $bordercolor;
        padding-top: 15px;
    }
}
