@use '~styles/appColors' as *;
.preview-with-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px 15px;
    border-radius: 9px;
    flex-grow: 1;
    transition: all 0.1s;

    > .preview-spans{
        display: flex;
        flex-direction: column;
        gap: 10px;

        > span {
            font-weight: 600;
            font-size: 14px;
            color: $textgray;

            +span {
                font-weight: 400;
                font-size: 11px;
            }
        }
    }
    > .controls-container {
        display: flex;
        flex-direction: row;
        gap: 5px;
        opacity: 0;
    }

    &:hover {
        background: $secondarycolor;

        > .preview-spans > span {
            color: $white;
        }

        > .controls-container {
            opacity: 1;
        }
    }
}
