@use '~styles/appColors' as *;
.preview-with-controls{
    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: space-between;
    padding: 10px;
    border-radius: 9px;
    flex-grow: 1;

    > .preview-spans{
        display: flex;
        flex-direction: column;
        gap: 5px;
        flex: 1 0 0;
        width: 0;

        > span {
            font-weight: 400;
            font-size: 14px;
            color: $textgray;
            overflow: hidden;
            text-overflow: ellipsis;
            white-space: nowrap;

            +span {
                font-weight: 400;
                font-size: 10px;
                overflow: hidden;
                text-overflow: ellipsis;
                white-space: nowrap;
            }
        }
    }
    > .controls-container {
        flex-direction: row;
        gap: 5px;
        display: none;
    }

    &:hover {
        background: $secondarycolor;
        gap: 10px;

        > .preview-spans > span {
            color: $white;
        }

        > .controls-container {
            display: flex;
        }
    }
}
