@use '~styles/appColors' as *;
.small-user-status {
    display: flex;
    flex-direction: row;
    align-items: center;
    gap: 5px;
    cursor: pointer;

    > span {
        font-style: normal;
        font-weight: 500;
        font-size: 14px;
        color: $white;
    }
}
