@use '~styles/appColors' as *;
.content-message {
  display: flex;
  flex-direction: row;
  width: 100%;
  height: fit-content;
  gap: 15px;

  &.last-message-sent {
    padding-bottom: 10px;
    border-bottom: 1px solid $silvergray;
  }

  > .info-container {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 2px;
    > span {
      color: $white;
      font-style: normal;
      font-weight: 400;
      font-size: 15px;
      word-break: break-word;
    }
    >.title-container {
      display: flex;
      flex-direction: row;
      justify-content: space-between;
      gap: 5px;
      align-items: center;
      > span:nth-of-type(2) {
        color: $textgray;
        font-style: normal;
        font-weight: 500;
        font-size: 12px;
        visibility: hidden;
      }
      > span:first-of-type {
        color: $white;
        font-style: normal;
        font-weight: 600;
        font-size: 16px;
        cursor: pointer;
        &:hover{
          text-decoration: underline;
        }
      }
    }
  }
  &:hover{
    background-color: $darker;
    & > .info-container > .title-container > span:nth-of-type(2) {
      visibility: visible;
    }
  }
}
