@use '~styles/appColors' as *;
@use '~styles/effects' as *;
$c: '.react-datepicker';
.datepicker,
#{$c} {
  display: flex;
  background-color: $secondarycolor;
  border-radius: 10px;
  padding: 10px;
  border: none;
  font-size: 0.8rem;
  &-wrapper{
    padding: 0;
    border: 0;
    width: 100%;
    height: 100%;
    display: flex;
    align-items: center;
}
  > #{$c}__triangle {
    display: none;
  }
  > div {
    display: flex;
    flex-direction: column;
    border: none;
    width: auto;
    > #{$c}__header--time--only {
      display: none !important;
    }
    > #{$c}__time {
      background-color: $secondarycolor;
    >div>ul{
        display: flex;
        flex-direction: column;
        gap: 5px;
        #{$c}__time-list-item {
            border-radius: 7px;
            height: unset;
            &:hover{
                background-color: $darker!important;
            }
            &--selected {
                color: $white!important;
                font-weight: 600!important;
                background-color: $darkerseccolor!important;
                outline: $bordercolor 1px solid!important;
                &:hover {
                  background-color: unset!important;
                  @include darken;
                }
              }
        }
    }
    }
    > #{$c}__header {
      text-align: center;
      background-color: unset;
      position: relative;
      border: none;
      display: flex;
      flex-direction: column;

      > .header {
        display: flex;
        justify-content: space-between;
        align-items: baseline;

        > .month {
          color: $white;
          font-weight: 600;
        }
      }
      > #{$c}__day-names {
        margin: auto;
        > div {
          color: $silvergray;
          font-weight: 600;
        }
      }
    }
    > #{$c}__month {
      margin: auto;
      > #{$c}__week > #{$c}__day {
        color: $textgray;
        border-radius: 0.5em;
        font-size: 1em;
        text-align: center;
        &:hover {
          color: $white;
          background-color: $light;
        }
        &--disabled{
            color: $silvergray;
            background-color: $light!important;
            &:hover{
              color: $silvergray!important;
              background-color: $light!important;
            }
        }
        &--outside-month {
          color: $silvergray;
        }

        &--in-selecting-range {
          color: $white;
          background-color: $light;
        }

        &--keyboard-selected {
          background-color: unset;
        }
        &--selected {
          color: $white;
          font-weight: 600;
          background-color: $darkerseccolor;
          outline: $bordercolor 1px solid;
          &:hover {
            background-color: unset;
            @include darken;
          }
        }
        &--in-range {
          color: $white;
          font-weight: 600;
          background-color: $warmorange;
          &:hover {
            background-color: $warmorange;
            @include darken;
          }
        }
        &--today {
          color: $white;
          font-weight: 600;
          background-color: $hotpurple;
        }
      }
    }
  }
}
