@import './src/assets/styles/appColors';

.appContainer {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  position: relative;
  gap: 3vw;

  width: 100%;
  height: 100%;

  /* Background */
  padding: 2vh 1vw;

  background: $background;
}
