@use '~styles/appColors' as *;
@use '~styles/effects' as *;
.welcome-box {
  display: flex;
  flex-direction: column;
  width: 95%;

  &.animate {
    animation: hide 0.5s forwards;
  }
  gap: 5px;
  > .hide-btn {
    display: flex;
    justify-content: center;
    padding: 5px;

    > svg > path {
      transform: rotate(180deg);
      transform-origin: center;
      fill: $white;
    }
    &:hover {
      @include darken;
      border-radius: 0 0 10px 10px;
      padding: 10px;

      > svg > path {
        fill: $white;
      }
    }
  }
  > svg {
    position: absolute;
    z-index: -1;
  }
  > .content {
    background-image: url(toPng/pattern.png);
    background-repeat: repeat-x;
    display: flex;
    flex-direction: row;
    align-items: center;
    padding-left: 50px;
    border-radius: 15px;
    gap: 50px;
    > span {
      font-style: normal;
      font-weight: 700;
      font-size: 30px;
    }
  }
  @keyframes hide {
    from {
      transform: translateY(0%);
    }
    to {
      transform: translateY(-100%);
    }
  }
}
