@use '~styles/appColors' as *;
.roles-tab {
  display: flex;
  flex-direction: row;
  align-items: stretch;
  gap: 40px;
  overflow: hidden;

  > .roles-miniTabs {
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 10px;
  }
}
