@use '~styles/appColors' as *;
.dm-history {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  border: 1px solid $lighterbackground;
  box-sizing: border-box;
  border-radius: 17px;
  padding: 15px;
  gap: 10px;

  > .header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    flex-grow: 1;

    > span {
      font-weight: 400;
      font-size: 20px;
    }

    > .add-button-container {
      display: flex;
      justify-content: center;
      align-items: center;
      cursor: pointer;

      > span {
        font-weight: 800;
        font-size: 25px;
      }
    }
  }
  > .lastDmMessages-container {
    display: flex;
    align-items: stretch;
    overflow-y: scroll;
    flex-direction: column;
    gap: 15px;
    padding-right: 10px;
  }
}
