@use '~styles/appColors' as *;
.theme-preference-item {

    display: flex;
    flex-direction: column;
    padding: 10px;
    gap: 10px;
    border: 1px solid $silvergray;
    border-radius: 11px;
    width: fit-content;
}
