@use '~styles/appColors' as *;

.app-container {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  position: relative;
  gap: 1vw;

  width: 100%;
  height: 100%;

  /* Background */
  padding: 2vh 1vw;

  background: $background;
  &.joke {
    --cold-red: #ff4b59;
    --background: #303030;
    --lighter-background: #ffffff14;
    --cold-blue: #6bbbc2;
    --hot-red: #f44336;
    --good-green: #0acf83;
    --secondary-color: #ffffff08;
    --darker-secondary-color: #00000033;
    --border-color: #ffffff0d;
    --silver-gray: #ffffff2e;
    --hot-purple: #80e0ff2e;
    --white: #ffffff;
    --text-gray: #bdbdbd;
    --good-black: #18191c;
    --warm-orange: #f2994a;
    --darker: #00000020;
    --light: #ffffff20;
  }
}
