@use '~styles/appColors' as *;

.app-container {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  position: relative;
  gap: 1vw;

  width: 100%;
  height: 100%;

  /* Background */
  padding: 2vh 1vw;

  background: $background;
  &.drakula {
    &,~div {
      --background: #303030;
      --lighter-background: #404040;
      --cold-blue: #439297;
      --hot-red: #C13E34;
      --good-green: #1D7D58;
      --warm-orange: #f2994a;
      --cold-red: #C5434D;
      --secondary-color: #363636;
      --darker-secondary-color: #262626;
      --border-color: #ffffff0d;
      --silver-gray: #5a6a67;
      --hot-purple: #4D8F87;
      --white: #ffffff;
      --text-gray: #bdbdbd;
      --good-black: #18191c;
      --light: #ffffff20;
    }
  }
}
