@use '~styles/appColors' as *;

.app-container {
  /* Auto Layout */

  display: flex;
  flex-direction: row;
  align-items: stretch;
  justify-content: space-around;
  position: relative;
  gap: 1vw;

  width: 100%;
  height: 100%;

  /* Background */
  padding: 2vh 1vw;

  background: $background;
}
