@import '~styles/appColors';

@font-face {
  font-family: 'Sarabun';
  src: url(./assets/font/Sarabun-Regular.ttf) format('truetype');
}
* {
  box-sizing: border-box;
  user-select: none;
  font-family: 'Sarabun';
  color: $white;
  scrollbar-color: $hotpurple transparent ;
  scrollbar-width: thin;
}
body,
#app-mount {
  display: flex;
  width: 100%;
  height: 100vh;
  margin: 0;
  overflow: hidden;
}

::-webkit-scrollbar {
  width: 6px;
  height: 1vh;
}

::-webkit-scrollbar-thumb {
  background: $hotpurple;
  //box-shadow: 0px 0px 4px $hotpurple;
  border-radius: 11vh;
}
::-webkit-scrollbar-track {
  background: rgba(43, 43, 43, 0.01);
  //box-shadow: inset 0px 0px 6px rgba(0, 0, 0, 0.25);
  border-radius: 11vh;
}
div{
  &::-webkit-scrollbar-thumb {
    visibility: hidden;
    transition: 1s all linear;
  }
  &:hover {
    &::-webkit-scrollbar-thumb {
      visibility: visible;
      transition: 1s all linear;
    }
  }
}