@use '~styles/appColors' as *;
.role-list {
  display: flex;
  flex-direction: column;
  align-items: stretch;
  gap: 10px;

  > .content-list {

    overflow-y: scroll;
    display: flex;
    flex-direction: column;
    align-items: stretch;
    gap: 5px;
  }
}
